<!DOCTYPE html><html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <link type="text/css" rel="stylesheet" href="/assets/css/mash.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/data-kitchen.css" />
</head>
<body class="dkPage">

<p>To log into or create your own pod, choose a pod provider.</p>

<ul>
<li><a href="#" onclick="go('http','https://solidcommunity.net/')">Solid Coummunity</a></li>
<li><a href="https://solidweb.org">Solid Web</a></li>
<li><a href="https://inrupt.net">Inrupt.net</a></li>
<li><a href="https://solidweb.org">Inrupt.com</a> <i>(test-server, for developers only)</i></li>
</ul>

<p>Or :</p>

<ul><li><a href="">Browse pods without logging in.</a></li></ul>

<p>Or :</p>

<ul><li><a href="">Log into & browse an SSH host</a></li></ul>

<script>
  function go(frameType,url){
    window.top.go(frameType,url)
  }
</script>

<style>
li { 
  padding-top:0.3em;
  padding-bottom:0.3em;
}
</style>
